{% extends 'FrontendBundle:layouts:base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.points) }}
        {{ form_row(form.fileUrl) }}
        <button class="btn btn-primary">Dodaj</button>
    {{ form_end(form) }}
{% endblock %}
